.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin-top: 50px;
}
.container label{
    color: white;

}
.container textarea{
    background-color:transparent;
    border-radius: 5px ;
    border: 2px solid  rgba(165, 165, 165, .1);
    padding: 8px 10px;
    width: 90%;
    color: rgba(165, 165, 165, 1) ;
    resize: none;
    
}